/*Specify Roboto Font to be used*/
html {
    font-family: 'Roboto', sans-serif;
}

/*Resize the logo to fit the navigation bar*/
.brand-logo {
    height:64px;
}

/*Resize the carousel*/
.carousel{
    max-height:200px;
    margin-top: 20px;
}

/*To not let the contents within the wrapper to spill*/
.nav-wrapper{
    overflow:hidden;
}

/*Padding for breadcrumbs below the navbar*/
.breadcrumb{
    margin-left:10px;
}

/*Set the button height for the submit, update and delete buttons*/
.button-height{
    height:50px;
    margin-bottom:10px;
}

/*Create a border for the form to better demarcate its area*/
form{
    border: inset;
    padding:10px;
}

/*Setting the margins for the flash images when updating, deleting and submitting recipes*/
.flashes{
    margin:10px;
}

/*Padding for list items for better viewability*/
li{
    padding:10px;
}

/*Styling for recipe image in recipe-details and update-recipes*/
.img-height{
    margin-top:20px;
    max-height:250px;
    max-width:250px;
    border:1px solid black;
}