{% extends "base.html" %}

<!--Page title-->
{% block title %}Cookit-Mons{% endblock %}


<!--Page content-->
{% block content %}

<!--Submit Recipe Display-->
<div class="col s12 m7" id="submit-recipe">
    <div class="card horizontal card-panel hoverable">
        <div class="card-image hide-on-med-and-down">
            <img src="{{ url_for('static', filename = 'images/homepage/submit-recipe.jpg') }}" alt="Cookit-Mons, the online cookbook">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <div class="center-align">
                    <img src="{{ url_for('static', filename = 'images/logo/logo.png') }}">
                </div>
                <h4>About Cookit-Mons</h4>
                <p>Cookit-Mons was created as a project by an aspiring full-stack developer in his dream to eat something besides instant ramen for the rest of his life.</p>
                <br />
                <p>With the aid of chefs and home cooks everywhere, we seek your help to combat our mutual nemesis, instant ramen.</p>
            </div>
            <div class="card-action">
                <a href="#">Submit a recipe!</a>
            </div>
        </div>
    </div>
</div>


<!--Recipe search title-->
<div class="header center-align" id="search-recipe">
    <h1 class="pulse">Recipes of Cookit-Mon</h1>
</div>

<!--Recipe Card Categories-->
<div class="row">

    <!--Card for meat category-->
    <div class="col xl4 card card-panel hoverable">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ url_for('static', filename = 'images/category/meat.jpg') }}" alt="Meat Recipes">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Meat Recipes<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Meat Recipes<i class="material-icons right">close</i></span>

            <ol>
                {% for meat in type_meat %}

                <li><a href="{{ url_for('recipe_details', recipe_id=meat['_id']) }}">{{ meat["name"].capitalize() }}</a></li>

                {% endfor %}
            </ol>

        </div>
    </div>

    <!--Card for vegetable category-->
    <div class="col xl4 card card-panel hoverable">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ url_for('static', filename = 'images/category/vegetable.jpg') }}" alt="vegetable recipes">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Vegetable Recipes<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Vegetable Recipes<i class="material-icons right">close</i></span>

            <ol>

                {% for vegetable in type_vegetable %}

                <li><a href="{{ url_for('recipe_details', recipe_id=vegetable['_id']) }}">{{ vegetable["name"].capitalize() }}</a></li>

                {% endfor %}

            </ol>

        </div>
    </div>

    <!--Card for dessert category-->
    <div class="col xl4 card card-panel hoverable">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ url_for('static', filename = 'images/category/dessert.jpg') }}" alt="dessert recipes">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Dessert Recipes<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Dessert Recipes<i class="material-icons right">close</i></span>

            <ol>

                {% for dessert in type_dessert %}

                <li><a href="{{ url_for('recipe_details', recipe_id=dessert['_id']) }}">{{ dessert["name"].capitalize() }}</a></li>

                {% endfor %}

            </ol>

        </div>
    </div>
</div>


{% endblock %}
