{% extends "base.html" %}

<!--Page Title-->
{% block title %}Submit a recipe{% endblock %}

<!--Breadcrumb Navigation-->
{% block header %}

<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{{ url_for('index') }}" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">Submit a recipe</a>
        </div>
    </div>
</nav>

{% endblock %} {% block content %}

<div class="row">
    <form class="col s12" method="POST">
        <!--Text inputs-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="icon_prefix" type="text" name="recipe-name" class="validate">
                <label for="icon_prefix">Recipe Name</label>
            </div>
            <div class="input-field col s12 l4">
                <i class="material-icons prefix">local_dining</i>
                <input id="icon_telephone" type="number" class="validate" name="nutrition-facts">
                <label for="icon_telephone">Nutrition Facts (Calories)</label>
            </div>
            <div class="input-field col s12 l4">
                <i class="material-icons prefix">access_time</i>
                <input id="icon_telephone" type="number" name="cooking-time" class="validate">
                <label for="icon_telephone">Cooking Time (Mins)</label>
            </div>
            <!--Radio Button for type of recipe-->
            <div class="input-field col s12 l4">
                <i class="material-icons prefix">cake</i>
                <select>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Meat</option>
                  <option value="2">Vegetable</option>
                  <option value="3">Dessert</option>
                </select>
                <label>Type of Recipe</label>
            </div>
        </div>


        <div class="row">

            <div class="col s12 l6">
                <div id="ingredients-input">
                    <h5>Ingredients</h5>
                    <hr />
                </div>
                <div class="row center-align">
                    <div class="col s6"><a class="btn-floating btn-small waves-effect waves-light red" id="add-ingredient"><i class="material-icons">add</i></a> Add an ingredient</div>
                    <div class="col s6"><a class="btn-floating btn-small waves-effect waves-light red" id="remove-ingredient"><i class="material-icons">clear</i></a> Remove an ingredient</div>
                </div>
            </div>

            <div class="col s12 l6">
                <div id="preparations-input">
                    <h5>Preparation Steps</h5>
                    <hr />
                </div>
                <div class="row center-align">
                    <div class="col s6"><a class="btn-floating btn-small waves-effect waves-light red" id="add-prep"><i class="material-icons">add</i></a> Add a step</div>
                    <div class="col s6"><a class="btn-floating btn-small waves-effect waves-light red" id="remove-prep"><i class="material-icons">clear</i></a> Remove a step</div>
                </div>
            </div>

        </div>


        <!--File upload-->
        <div class="file-field input-field col l6">
            <div class="btn">
                <span>Upload image</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>


        <!--Submit Button-->
        <div class="col l6 center-align">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>

    </form>
</div>

{% endblock %}
