{% extends "base.html" %}

<!--Page Title-->
{% block title %}Submit a recipe{% endblock %}

<!--Breadcrumb Navigation-->
{% block header %}

<!--Breadcrumb for viewports for mobile devices-->
<nav class="hide-on-med-and-up">
    <div class="nav-wrapper black">
        <div class="col s12">
            <a href="{{ url_for('index') }}" class="breadcrumb">Back</a>
        </div>
    </div>
</nav>

<!--Breadcrumb for viewports of tablets and above-->
<nav class="hide-on-med-and-down show-on-medium-and-up">
    <div class="nav-wrapper black">
        <div class="col s12">
            <a href="{{ url_for('index') }}" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">Submit a recipe</a>
        </div>
    </div>
</nav>

{% endblock %} 


<!--Form content to submit a recipe-->
{% block content %}

<div class="row">
    <form class="col s12" method="POST">
        <!--Text inputs-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="icon_prefix" type="text" name="recipe-name" class="validate" required>
                <label for="icon_prefix">Recipe Name</label>
            </div>
            <div class="input-field col s12 l4">
                <i class="material-icons prefix">local_dining</i>
                <input id="icon_telephone" type="number" class="validate" name="nutrition-facts" required>
                <label for="icon_telephone">Nutrition Facts (Calories)</label>
            </div>
            <div class="input-field col s12 l4">
                <i class="material-icons prefix">access_time</i>
                <input id="icon_telephone" type="number" name="cooking-time" class="validate" required>
                <label for="icon_telephone">Cooking Time (Mins)</label>
            </div>
            <!--Radio Button for type of recipe-->
            <div class="input-field col s12 l4">
                <i class="material-icons prefix">cake</i>
                <select name="type">
                  <option value="meat" selected>Meat</option>
                  <option value="vegetable">Vegetable</option>
                  <option value="dessert">Dessert</option>
                </select>
                <label>Type of Recipe</label>
            </div>
        </div>


        <div class="row">

            <div class="col s12 l6">
                <div id="ingredients-input">
                    <h5>Ingredients</h5>
                    <hr />
                </div>
                <div class="row center-align">
                    <div class="col s12 l6 button-height"><a class="btn-floating btn-small waves-effect waves-light red" id="add-ingredient"><i class="material-icons">add</i></a> Add an ingredient</div>
                    <div class="col s12 l6 button-height"><a class="btn-floating btn-small waves-effect waves-light red" id="remove-ingredient"><i class="material-icons">clear</i></a> Remove an ingredient</div>
                </div>
            </div>

            <div class="col s12 l6">
                <div id="preparations-input">
                    <h5>Preparation Steps</h5>
                    <hr />
                </div>
                <div class="row center-align">
                    <div class="col s12 l6 button-height"><a class="btn-floating btn-small waves-effect waves-light red" id="add-prep"><i class="material-icons">add</i></a> Add a step</div>
                    <div class="col s12 l6 button-height"><a class="btn-floating btn-small waves-effect waves-light red" id="remove-prep"><i class="material-icons">clear</i></a> Remove a step</div>
                </div>
            </div>

        </div>


        <!--Submit Button-->
        <div class="col s12 center-align">
        <button class="btn waves-effect waves-light button-height" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>

    </form>
</div>

{% endblock %}
